<div class="container">
  <div class="left">
    <img class="logo" src="/assets/images/logo.png" alt="Logo" />
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/foo" routerLinkActive="active" class="button">Foo</a>
    <a routerLink="/foo" [queryParams]="{orderFilter: 'A'}" routerLinkActive="active" class="button">Foo - Asc</a>
    <a routerLink="/foo" [queryParams]="{orderFilter: 'D'}" routerLinkActive="active" class="button">Foo - Desc</a>
  </div>
  <div class="right" *ngIf="!user">
    <a routerLink="/sign-in" routerLinkActive="active">Sign In</a>
  </div>
  <div class="right" *ngIf="user">
    <div>
      <img src="/assets/images/profile.png" (click)="toggleSignOutMenu()" alt="profile" />
      <div class="sign-out" *ngIf="showSignOutMenu">
        <button (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </div>
</div>